#Telosys-Tools properties
#Fri Feb 27 16:38:07 ICT 2015
WEB=src/main/webapp
ENTITY_PKG=com.nichesoft.bean
ProjectVariable.PROJECT_NAME=papm
ProjectVariable.MAVEN_ARTIFACT_ID=papm
TEST_SRC=src/test/java
RES=src/main/resources
DOC=doc
DownloadsFolder=TelosysTools/downloads
TemplatesFolder=TelosysTools/templates
ROOT_PKG=com.nichesoft
LibrariesFolder=TelosysTools/lib
SRC=src/main/java
RepositoriesFolder=TelosysTools
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
ProjectVariable.MAVEN_GROUP_ID=com.nichesoft
TMP=tmp
